<%- include('../templates/header.ejs') %>
<%- include('../templates/navbar.ejs') %>

<!-- reszta -->
<div class="main-body-container">
    <fieldset>
        <legend>
            <h2>Frekwencja</h2>
        </legend>
        <div class="attendance-wrapper">
            <div class="teacher-panel centerized">
                <form method="get" action="/teacher/attendance" id="attendance_class">
                    <div class="teacher-form">
                        <select name="class_id" id="class_id" form="attendance_class">
                            <% classes.forEach((klasa) => { %>
                            <% if (klasa.klasa_id == class_id) { %>
                            <option value="<%= klasa.klasa_id %>" selected>Klasa: <%= klasa.klasa_id %></option>
                            <% } else { %>
                            <option value="<%= klasa.klasa_id %>">Klasa: <%= klasa.klasa_id %></option>
                            <% } %>
                            <% }) %>
                        </select>
                        <input type="date" name="attendance_date" id="attendance_date" value="<%=date%>"
                            onchange="checkDate()">
                        <select name="subject_id" id="attendance_subject_id" form="attendance_class">
                            <% subjects.forEach((subject) => { %>
                            <% if (subject.zajecia_id == subject_id) { %>
                            <option value="<%= subject.zajecia_id %>" selected><%= subject.nazwa %></option>
                            <% } else { %>
                            <option value="<%= subject.zajecia_id %>"><%= subject.nazwa %></option>
                            <% } %>
                            <% }) %>
                        </select>
                        <select name="classes_number" id="attendance_classes_number" , form="attendance_class">
                            <% classes_numbers.forEach((classes_number) => { %>
                            <% if (classes_number.nr_lekcji == class_number) { %>
                            <option value="<%= classes_number.nr_lekcji %>" selected>Numer lekcji: <%= classes_number.nr_lekcji %>
                            </option>
                            <% } else { %>
                            <option value="<%= classes_number.nr_lekcji %>">Numer lekcji: <%= classes_number.nr_lekcji %>
                            </option>
                            <% } %>
                            <% }) %>
                        </select>
                        <button type="button" id="mark-all-present">Wszyscy obecni</button>
                    </div>
                </form>
                <div>
                </div>
            </div>
            <div class="scrollable">
                <table style="width: 100% !important;">
                    <tr>
                        <th class="fix_row">Uczeń</th>
                        <th class="fix_row">Obecny</th>
                        <th class="fix_row">Nieobecny</th>
                        <th class="fix_row">Spoźniony</th>
                        <th class="fix_row">Upsprawiedliwiony</th>
                        <th class="fix_row">Zwolniony</th>
                    </tr>
                    <form action="/teacher/attendance" method="post" id="post_attendance" name="attendance">
                        <input type="hidden" name="klasa_id" value="<%= class_id %>">
                        <input type="hidden" name="date" value="<%= date %>">
                        <input type="hidden" name="zajecia_id" value="<%= subject_id %>">
                        <input type="hidden" name="nr_lekcji" value="<%= class_number %>">
                        <% students.forEach(student => { %>
                        <tr>
                            <td><%= student.imie %> <%= student.nazwisko %> </td>
                            <td>
                                <input type="radio" name="<%=student.user_id%>" value="O" id="O"
                                    <%= student.frekwencja == 'O' ? 'checked' : '' %>>
                            </td>
                            <td>
                                <input type="radio" name="<%=student.user_id%>" value="N" id="N"
                                    <%= student.frekwencja == 'N' ? 'checked' : '' %>>
                            </td>
                            <td>
                                <input type="radio" name="<%=student.user_id%>" value="S" id="S"
                                    <%= student.frekwencja == 'S' ? 'checked' : '' %>>
                            </td>
                            <td>
                                <input type="radio" name="<%=student.user_id%>" value="U" id="U"
                                    <%= student.frekwencja == 'U' ? 'checked' : '' %>>
                            </td>
                            <td>
                                <input type="radio" name="<%=student.user_id%>" value="Z" id="Z"
                                    <%= student.frekwencja == 'Z' ? 'checked' : '' %>>
                            </td>
                        </tr>
                        <% }); %>
                    </form>
                </table>
            </div>
            <div class="teacher-panel">
                <div>
                    <button id="submit_attendance">Zapisz</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<div id="dialog-1" title="Potwierdź zmiany">
    <p>Czy na pewno chcesz zapisać zmiany?</p>
</div>

<%- include('../templates/footer.ejs') %>

<script>
    $("#class_id").on('change', function () {
        $("#attendance_class").submit();
    })
    $("#attendance_subject_id").on('change', function () {
        $("#attendance_class").submit();
    })
    $("#attendance_classes_number").on('change', function () {
        $("#attendance_class").submit();
    })

    $(function () {
        $("#dialog-1").dialog({
            autoOpen: false,
            modal: true,
            buttons: [{
                text: "Zapisz",
                click: () => {
                    $("#post_attendance").submit();
                }
            }, ]
        });

        $("#submit_attendance").on('click', () => {
            $("#dialog-1").dialog('open');
        })

    })

    var button = document.getElementById("mark-all-present");
    button.addEventListener("click", function () {
        var radios = document.querySelectorAll("input[id=O]");
        radios.forEach(function (radio) {
            radio.checked = true;
        });
    });

    function checkDate() {
        var date = new Date(document.getElementById("attendance_date").value);
        var day = date.getDay();
        if (day == 0 || day == 6) {
            alert("Proszę wybrać dzień z przedziału Poniedziałek-Piątek");
            document.getElementById("attendance_date").value = "";
        } else {
            $("#attendance_class").submit();
        }
    }
</script>