<%- include ../templates/header %>
<%- include ../templates/navbar %>

<div class="main-body-container">
    <fieldset>
        <legend><h2>Oceny</h2></legend>
        <div class="grades-wrapper">
            <div class="teacher-panel">
                <div>
                    <form action="" method="GET" id="change_class_form">
                        <input type="hidden" name="class_id" id="change_class_id">
                        <input type="hidden" name="subject_id" id="change_subject_id">
                    </form>
                    <select name="class_id" id="class">
                        <% classes.forEach((subject) => { %>
                            <% if (class_id == subject.klasa_id) { %>
                                <option value="<%= subject.klasa_id %>" selected>Klasa: <%= subject.klasa_id %></option>
                            <% } else { %>
                                <option value="<%= subject.klasa_id %>">Klasa: <%= subject.klasa_id %></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <select name="subject_id" id="subject" form="add_grades">
                        <% subjects.forEach((subject) => { %>
                            <% if (subject_id == subject.zajecia_id) { %>
                                <option value="<%= subject.zajecia_id %>" selected><%= subject.nazwa %></option>
                            <% } else { %>
                                <option value="<%= subject.zajecia_id %>"><%= subject.nazwa %></option>
                            <% } %>
                            
                        <% }) %>
                    </select>
                </div>
            </div>
            <table>
                <tr>
                    <th>Zaznacz</th>
                    <th>Osoba</th>
                    <th>Oceny</th>
                    <th>Średnia</th>
                    <th>Ocena Końcowa</th>
                </tr>
                <% for(var i=0; i<students.length; i++) { %>
                <tr>
                    <td>
                        <input type="checkbox" name="user_id" value="<%= students[i].user_id %>" form="add_grades">
                    </td>
                    <td>
                        <a href="/teacher/grades/edit_grades/<%= subject_id %>/<%= students[i].user_id %>">
                            <%= students[i].imie %> <%= students[i].nazwisko %>
                        </a>
                    </td>
                    <td>
                        <%= students_grades[i].toString().replaceAll(",", ", "); %>
                    </td>
                    <td>
                        <% if (students_grades[i].length > 0) { %>
                            <%= (students_grades[i].reduce((a,b) => a+b, 0) / students_grades[i].length).toFixed(2) %>
                        <% } %>        
                    </td>
                    <td></td>
                </tr>
                <% } %>
            </table>
            <div class="teacher-panel">
                <div>
                    <button id="add_grades_button">Zbiorcze dodanie</button>
                    <select name="grade_value" form="add_grades">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <form id="add_grades" action="" method="GET"></form>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<script>
    $("#class").on("change", () => {
        $("#change_class_id").val($("#class").val());
        $("#change_class_form").submit();
    });
    $("#subject").on("change", () => {
        $("#change_subject_id").val($("#subject").val());
        $("#change_class_id").val($("#class").val());
        $("#change_class_form").submit();
    });
    $("#add_grades_button").on("click", () => {
        $("#add_grades").submit();
    })
</script>

<%- include ../templates/footer %>