<%- include('../templates/header.ejs') %>
<%- include('../templates/navbar.ejs') %>

<div class="main-body-container">
    <fieldset>
        <legend><h2>Zarządzaj klasami</h2></legend>
    <div class="manage-wrapper">
        <form action="" method="GET" id="change_class">
            <input type="hidden" name="class_id" id="hidden_class">
            <input type="hidden" name="subject_id" id="hidden_subject">
        </form>
        <form action="" method="POST" id="manage_class_form">
            <select name="class_id" id="class">
                <% for(var i=0; i<classes.length; i++) { %>
                    <% if (current_class == classes[i].klasa_id) { %>
                        <option value="<%= classes[i].klasa_id %>" selected>Klasa: <%= classes[i].klasa_id %></option>
                    <% } else { %>
                        <option value="<%= classes[i].klasa_id %>">Klasa: <%= classes[i].klasa_id %></option>
                    <% } %>
                <% } %>
            </select>
            <select name="subject_id" id="subject">
                <% for(var i=0; i<subjects.length; i++) { %>
                    <% if (current_subject == subjects[i].zajecia_id) { %>
                        <option value="<%= subjects[i].zajecia_id %>" selected><%= subjects[i].nazwa %></option>
                        <% } else { %>
                            <option value="<%= subjects[i].zajecia_id %>"><%= subjects[i].nazwa %></option>
                        <% } %>
                    <% } %>
            </select>
            <select name="day" id="">
                <option value="Poniedzialek">Dzień: Poniedzialek</option>
                <option value="Wtorek">Dzień: Wtorek</option>
                <option value="Sroda">Dzień: Sroda</option>
                <option value="Czwartek">Dzień: Czwartek</option>
                <option value="Piatek">Dzień: Piatek</option>
            </select>
            <select name="number" id="">
                <option value="1">Numer lekcji: 1</option>
                <option value="2">Numer lekcji: 2</option>
                <option value="3">Numer lekcji: 3</option>
                <option value="4">Numer lekcji: 4</option>
                <option value="5">Numer lekcji: 5</option>
                <option value="6">Numer lekcji: 6</option>
                <option value="7">Numer lekcji: 7</option>
                <option value="8">Numer lekcji: 8</option>
            </select>
            <button id="add" type="button">Dodaj zajęcia</button>
            <button id="delete" type="button">Usuń zajęcia</button>
            <input type="hidden" id="operation" name="operation">
        </form>
        <%- include('../templates/messages.ejs') %>
        <div class="schedule-wrapper">
            <table>
                <tr>
                    <th>Nr. Lekcji</th>
                    <th>Poniedziałek</th>
                    <th>Wtorek</th>
                    <th>Środa</th>
                    <th>Czwartek</th>
                    <th>Piątek</th>
                </tr>
                <% for(var i=1; i<9; i++) { %>
                <tr>
                    <th><%= i %></th>
                    <% for(var j=0; j<5; j++) { %>
                    <td><%= schedule[i][j] %></td>
                    <% } %>
                </tr>
                <% } %>
                </tr>
            </table>
        </div>
        <div class="go-back-wrapper">
            <button class="go-back-btn" onclick="location.href='/admin/manage_classes'">Cofnij</button>
        </div>
    </div>
</fieldset>
</div>

<div id="dialog-1" title="Usunąć zajęcia?">
    <p>Czy na pewno chcesz usunąć zajęcia z planu lekcji?</p>
</div>

<div id="dialog-2" title="Dodać zajęcia?">
    <p>Czy na pewno chcesz dodać zajęcia do planu lekcji?</p>
</div>

<script>
    $(function() {
        $("#dialog-1").dialog({
            autoOpen: false,
            modal: true,
            buttons: [
              {
                text: "Potwierdź",
                click: () => {
                    $("#manage_class_form").submit();
                }
              },  
            ]
        });
        $("#dialog-2").dialog({
            autoOpen: false,
            modal: true,
            buttons: [
              {
                text: "Potwierdź",
                click: () => {
                    $("#manage_class_form").submit();
                }
              },  
            ]
        });
        $("#add").on('click', () => {
            $("#operation").val('add');
            $("#dialog-2").dialog("open");
        });
    
        $("#delete").on('click', () => {
            $("#operation").val("delete");
            $("#dialog-1").dialog("open");
        });
    })

    $("#class").on('change', () => {
        $("#hidden_class").val($("#class").val());
        $("#hidden_subject").val($("#subject").val());
        $("#change_class").submit();
    });    
</script>

<%- include('../templates/footer.ejs') %>